<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidfinal114_1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidFinal1141">

        <!-- 首頁 Activity -->
        <activity android:name="com.example.androidfinal114_1.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 圖書館 Activity -->
        <activity
            android:name="com.example.campusguide.library.LibraryMainActivity"
            android:exported="false" />
        <activity
            android:name="com.example.campusguide.library.LibraryFloorPagerActivity"
            android:exported="false" />


        <!-- 其他樓層 Activity -->
        <activity android:name=".RoomFloor1Activity"/>
        <activity android:name=".RoomFloor2Activity"/>
        <activity android:name=".RoomFloor3Activity"/>
        <activity android:name=".RoomFloor4Activity"/>
        <activity android:name=".RoomFloor5Activity"/>
        <activity android:name=".RoomFloor6Activity"/>
        <activity android:name=".RoomFloor7Activity"/>
        <activity android:name=".RoomFloor8Activity"/>
        <activity android:name=".RoomFloor9Activity"/>

    </application>

</manifest>
